<ul id="menu-top" class="nav navbar-nav navbar-right uppercase">
	<li class="home"><a title="Home" href="{{ site.baseurl }}/{% if page.language != 'en' %}{{ page.language }}/{% endif %}">{{ site.data.i18n[page.language].home }}</a></li>
	<!--li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></a>
		<ul class="dropdown-menu">
			<li><a href="#">Team</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</li-->
	<li class="about"><a title="About" href="{{ site.baseurl }}/about/{% if page.language != 'en' %}{{ page.language }}/{% endif %}">{{ site.data.i18n[page.language].about }}</a></li>
	<li class="research"><a title="Research" href="{{ site.baseurl }}/research/">{{ site.data.i18n[page.language].research }}</a></li>
	<li class="projects"><a title="Projects" href="{{ site.baseurl }}/projects/cardano/">{{ site.data.i18n[page.language].projects }}</a></li>
	<li class="library"><a title="Library" href="{{ site.baseurl }}/research/library/">{{ site.data.i18n[page.language].library }}</a></li>
	<li class="blog"><a title="Blog" href="{{ site.baseurl }}/blog/">{{ site.data.i18n[page.language].blog }}</a></li>
	<li class="career"><a title="Careers" href="{{ site.baseurl }}/careers/{% if page.language != 'en' %}{{ page.language }}/{% endif %}">{{ site.data.i18n[page.language].careers }}</a></li>
	<!--li class="search"><a title="Search" data-toggle="modal" href="#searchmodal"><em class="fa fa-search nomobile"></em> <span class="nodesktop">Search</span></a></li-->
</ul>
