<div class="filters text-center">
<a href="javascript:io_team_filter('all','show-all')" class="show-all active">IOHK</a> <span>&nbsp;|&nbsp;</span>
<a href="javascript:io_team_filter('founder','show-founder')" class="show-founder">FOUNDERS</a> <span>&nbsp;|&nbsp;</span>
<a href="javascript:io_team_filter('executive','show-executive')" class="show-executive">EXECUTIVES</a> <span>&nbsp;|&nbsp;</span>
<a href="javascript:io_team_filter('research','show-research')" class="show-research">RESEARCH</a> <span>&nbsp;|&nbsp;</span>
<a href="javascript:io_team_filter('cardano','show-cardano')" class="show-cardano">CARDANO</a> <span>&nbsp;|&nbsp;</span>
<a href="javascript:io_team_filter('ethereum-classic','show-ethereum-classic')" class="show-ethereum-classic">ETHEREUM CLASSIC</a> <span>&nbsp;|&nbsp;</span>
<a href="javascript:io_team_filter('scorex','show-scorex')" class="show-scorex">SCOREX</a> <span>&nbsp;|&nbsp;</span>
<a href="javascript:io_team_filter('web','show-web')" class="show-web">WEB</a> <span>&nbsp;|&nbsp;</span>
<a href="javascript:io_team_filter('creative','show-creative')" class="show-creative">CREATIVE</a> <span>&nbsp;|&nbsp;</span>
<a href="javascript:io_team_filter('communications','show-communications')" class="show-communications">COMMUNICATIONS</a> <span>&nbsp;|&nbsp;</span>
<a href="javascript:io_team_filter('operations','show-operations')" class="show-operations">OPERATIONS</a>
</div>
