
                                <div id="latest_posts-{{include.item.id}}" class="latest_posts">
                                    <div class="{% if page.layout == 'page-blog' %}nomobile{% endif %}">
                                        <h6 class="uppercase electrolize">Latest from {{include.item.parent}}</h6>
                                        <ul>
                                          {% assign blog_cnt = 0 %}
                                          {% assign blog_source = include.item.parent %}
                                        {% for subpost in site.posts %}
                                        {% if subpost.visible %}
                                        {% if subpost.categories contains blog_source %}
                                        {% assign blog_cnt = blog_cnt | plus:1 %}
                                        <li class="{% if blog_cnt > 5 %}none hidden_posts{% endif %} {% if subpost.title == page.title %}active{% endif %}"><a class="fadehref blog-link" href="{{ site.baseurl }}{{ subpost.permalink }}" title="{{ subpost.title }}" alt="{{ subpost.title }}" date="{{ subpost.date | date: '%B %d, %Y' }}">
                                            <strong>{{ subpost.title }}</strong>

                                            {% assign dude_cnt = 0 %}
                                            {% for dude in site.pages reversed %}
                                            {% if dude.layout == 'member' %}
                                            {% if dude.contact == subpost.author %}
                                            <small class="block author" rel="{{dude_cnt}}">{{ dude.title }}</small>
                                            {% endif %}
                                            {% assign dude_cnt = dude_cnt | plus:1 %}
                                            {% endif %}
                                            {% endfor %}

                                        </a></li>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>

                                    <div id="parent-{{include.item.slug}}-posts" class="none">
                                    <ul class="list">
                                    {% assign blog_cnt = 0 %}
                                    {% for subpost in site.posts %}
                                    {% if page.language == subpost.language %}
                                    {% if subpost.visible %}
                                    {% if subpost.categories contains 'blog' %}
                                    {% assign blog_cnt = blog_cnt | plus:1 %}
                                    <li class=""><a class="fadehref" href="{{ site.baseurl }}{{ subpost.permalink }}">
                                        <h3>{{ subpost.title }}</h3>
                                        <small class="date marginb0"><span class="">{{ subpost.date | date: '%B %d, %Y' }}</span></small>
                                        {% for dude in site.categories['team'] %}
                                        {% if page.language == dude.language %}
                                        {% if dude.layout == 'member' %}
                                        {% if dude.contact == subpost.author %}
                                        <small class="block">{{ dude.title }}</small>
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}

                                    </a></li>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}

                                    </ul>
                                    </div>

                                    <div id="author-{{include.item.slug}}-posts" class="none">


                                                    {% assign blog_auth = '' %}
                                                    {% for member in site.categories['team'] %}
                                                    {% if page.language == member.language %}
                                                    {% if include.item.author == member.contact %}

                                                    {% assign blog_auth = member.title %}

                                                    {% endif %}
                                                    {% endif %}
                                                    {% endfor %}


                                                    <ul class="list">
                                                        {% for subpost in site.posts %}
                                                        {% if subpost.categories contains 'blog' %}
                                                        {% if include.item.author == subpost.author %}
                                                        {% if subpost.visible == true %}

                                                        <li class="{{ subpost.slug }}">
                                                        <h3 class=""><a class="fadehref" href="{{ site.baseurl }}{{ subpost.permalink }}">{{ subpost.title }}</a></h3>
                                                        <small class="date marginb0"><span class="c_f00">{{ subpost.date | date: '%B %d, %Y' }}</span></small>
                                                        </li>

                                                        {% endif %}
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>


                                    </div>
                                    <br>

                                    <h6 class="uppercase electrolize">

                                        More from
                                        <a data-toggle="modal" href="#morecontent" onclick="io_loadmodal('#parent-{{include.item.slug}}-posts','More from {{include.item.parent}}')">{{include.item.parent}}</a>
                                        /
                                        <a data-toggle="modal" href="#morecontent" onclick="io_loadmodal('#author-{{include.item.slug}}-posts','More from {{blog_auth}}')">Author</a>

                                    </h6>

                                </div>
