{% if include.item %}
{% assign in_member_cnt = 0 %}

{% for post in site.pages reversed %}
  {% if post.layout == 'member' %}
  {% if include.item == post.contact %}




<div class="profile team {{ post.key }} smaller">
    {% if include.side %}
    <div class="img"><a href="{{ site.baseurl }}{{ post.permalink }}" class="ajaxhref profile-link" rel="{{in_member_cnt}}" title="IOHK profile of {{ post.title }}"><img src="{{ site.baseurl }}/{{ post.thumbnail }}" alt="" class="img-circle fullwidth ajaxhref" /></a></div>
    {% else %}
    <div class="img"><a href="{{ site.baseurl }}{{ post.permalink }}" class="ajaxhref profile-link" rel="{{in_member_cnt}}" title="IOHK profile of {{ post.title }}"><img src="{{ site.baseurl }}/{{ post.thumbnail }}" alt="" class="img-circle fullwidth ajaxhref" /></a></div>
    {% endif %}

    <h2>
        <a href="{{ site.baseurl }}{{ post.permalink }}" rel="{{in_member_cnt}}" class="ajaxhref profile-link" title="IOHK profile of {{ post.title }}">
            {% if post.prefix %}<span style="text-transform:capitalize">{{ post.prefix }}</span>{% endif %}
            {{ post.title }}{% if post.sufix %}<span style="text-transform:capitalize">,&nbsp;{{ post.sufix }}</span>{% endif %}
        </a>
    </h2>
    <h4>{{ post.role }}</h4>

    {% if include.side %}

    <div class="contact">
        <div class="social inline-block">
            {% include ui-social.html item=post %}
        </div>
    </div>

    {% else %}

    <!--div class="social">
        {% include ui-social.html item=post %}
    </div>
    <div class="finger_print">
        <p>{{ post.fingerprint }}</p>
    </div>
    <div class="contact_but">
        <a href="javascript:io_class_toggle('.{{ post.key }}','contacting')" class="btn btn-default bg_trans">{{ site.data.i18n[page.language].contact }}</a>
        <div class="none input">
            <input type="text" class="form-control text-center" value="{{ post.contact }}" />
        </div>
    </div-->

    {% endif %}

</div>


{% endif %}
{% assign in_member_cnt = in_member_cnt | plus:1 %}
{% endif %}
{% endfor %}

{% endif %}
