---
layout: blog-post
---
<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

    {% include header.html %}

    <div id="middle" class="middle">
        <div id="main" class="blog_single blog">



            <div id="subheader" class="banner particles minititle"><div id="subheader-particles"></div>
                <div class="container">
                    <div class="title_block">

                        <div class="h1 uppercase clear">
                            <span class="c_f00">IOHK | </span> Blog
                        </div>

                        <!--h1 class="marginb0 roboto">{{ page.title }}</h1-->



                    </div>
                </div>
            </div>


            <div class="subheader-shade"></div>

            <div class="container">

                <div class="row fader">

                    <div class="maincol blogpost col-lg-18 col-md-18 col-sm-18">
                        <div class="post">

                            <h1 class="margin0 roboto"><a class="" href="{{ site.baseurl }}{{ post.permalink }}"><span class="title">{{ page.title }}</span></a></h1>
                            {% if page.subtitle %}<h2 class="subtitle">{{page.subtitle}}</h2>{% endif %}

                            <div class="meta clear">
                                <div class="date inline-block"><span class=""><em class="fa fa-clock-o"></em> {{ page.date | date: '%B %d, %Y' }}</span></div> &nbsp;&nbsp;
                                {% if page.author %}<div class="author inline-block">

                                    {% for post in site.pages %}
                                    {% if post.layout == 'member' %}
                                    {% if member.contact == page.author %}
                                    <em class="fa fa-user c_f00"></em>  <a class="ajaxhref" href="{{ site.baseurl }}{{ member.permalink }}{% if page.language != 'en' %}{{ page.language }}/{% endif %}">{{ member.title }}</a>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}

                                </div> &nbsp;&nbsp; {% endif %}
                                {% if page.readtime %}{% if page.parent != 'video' %}<div class="readtime inline-block"><em class="fa fa-bookmark"></em> {{ page.readtime }} read</div>{% endif %}{% endif %}
                            </div>
                            <div class="clear small"><br></div>


                            {% if page.categories contains 'video' %}

                            {{ page.content }}

                            {% else %}

                            <div id="entry" class="blog entry {% if page.videothumbnail %}video{% endif %}" data-id="{{page.id}}" data-type="blog-post" data-slug="{{page.slug}}">
                                {{ page.content }}
                            </div>

                            {% endif %}

                            <p class=""><img src="/images/ccl.png" alt="" /></p>

                            <div id="io_comment_area" class="io_comment_area opened">
                                <a href="javascript:io_class_toggle('#io_comment_area','opened')" class="comment_opener"><em class="fa fa-bookmark"></em></a>
                                <div id="disqus_thread"></div>
                            </div>


                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 rightcol post-side">
                        <div class="wrap">

                            {% include ui-member.html item=page.author side=true %}

                            <hr />

                            {% include nav-blog.html item=page %}

                            <br />

                            <div class="sharing">{% include ui-share.html item=page %}</div>

                            <hr />

                            {% include ui-networks.html %}

                            <br>
                        </div>
                    </div>
                </div>
            </div>

            {% include nav-footer.html %}
        </div>
    </div>
    {% include footer.html %}

  </body>

</html>
