---
layout: json-team
---
{
"members":[
{% assign member_cnt = 0 %}
{% for member in site.pages reversed %}{% if member.layout == 'member' %}{% assign cont = member.content | strip_html %}{% assign cont = cont | strip_new_lines %}{% assign cont = cont | smartify %}
{% if member_cnt != 0 %},{% endif %}
{"name":"{{member.title}}", "key":"{{member.key}}", "pic":"{{member.thumbnail}}", "loc":"{{member.location}}", "role":"{{member.role}}"}
{% assign member_cnt = member_cnt | plus:1 %}{% endif %}{% endfor %}

]
}
