---
layout: member
---
<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

    {% include header.html %}

    <div id="middle" class="middle">
        <div id="main" class="member detail ">

            <div id="subheader" class="banner particles"><div id="subheader-particles"></div>
                <div class="container">
                    {% include nav-sub.html %}
                    <div class="title_block">
                        <div class="h1 uppercase clear"><span class="c_f00">IOHK | </span> Team</div>
                    </div>

                </div>
            </div>
            <div class="subheader-grad"></div>
            <div class="container">
                <div class="row fader">


                    <div class="maincol col-lg-13 col-lg-offset-1 col-md-13 col-md-offset-1 col-sm-13 col-sm-offset-1">

                        <div class="profile profile-{{ page.slug }}">
                            <div class="entry">
                                <!--a href="/team/{% if page.language != 'en' %}{{ page.language }}/{% endif %}" class="btn btn-default btn-sm pull-right hidden-xs">« {{ site.data.i18n[page.language].back }}</a-->
                                <!--<a href="javascript:window.history.back()" class="btn btn-default btn-sm pull-right hidden-xs">« {{ site.data.i18n[page.language].back }}</a>-->

                                <a href="javascript:window.history.back()" class="btn btn-default rounded back nomobile"><em class="fa fa-chevron-left"></em></a>
                                <h1 class="roboto">
                                  <span class="title">
                                    {% if page.prefix %}<span style="text-transform:capitalize">{{ page.prefix }}</span>{% endif %}
                                    {{ page.title }}{% if page.sufix %}<span style="text-transform:capitalize">,&nbsp;{{ page.sufix }}</span>{% endif %}
                                  </span>
                                </h1>
<!--
                                {% if page.coords %}
                                <div id="io_data_globe-box" class="globe preview io_webgl">
                                    <div id="io_data_globe" data-coords="{{ page.coords }}" class="single"></div>
                                    <div id="io_data_globe-marker" class="spinner marker">

                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px">
                                            <defs>
                                                <circle id="def-circle1" style="fill:rgba(255,255,255,0.2);" cx="0" cy="0" r="10" />
                                            </defs>
                                            <defs>
                                                <circle id="def-circle2" style="fill:rgba(255,255,255,0.2);" cx="0" cy="0" r="5" />
                                            </defs>

                                            <use xlink:href="#def-circle1" transform="translate(10 10)">
                                                <animateTransform attributeName="transform"
                                                type="scale"
                                                additive="sum"
                                                from="0 0"
                                                to="1 1"
                                                beg="0s"
                                                dur="2s"
                                                repeatCount="indefinite" />
                                            </use>
                                            <use xlink:href="#def-circle2" transform="translate(10 10)">
                                                <animateTransform attributeName="transform"
                                                type="scale"
                                                additive="sum"
                                                from="0 0"
                                                to="1 1"
                                                beg="0s"
                                                dur="1s"
                                                repeatCount="indefinite" />
                                            </use>


                                        </svg>

                                    </div>
                                </div>
                                {% endif %}
-->



                                <p class="role margin0 uppercase small"><span class="c_555">{{ page.role }}</span></p>
                                {% if page.location %}<hr class="sm"><p class="location uppercase">{{page.location}}</p>{% endif %}









                                <div class="contact nomobile">
                                    <div class="social">
                                        {% if page.contact %}<a class="mailto rounded" href="mailto:{{page.contact}}"><em class="fa fa-envelope"></em></a>{% endif %}

                                        {% include ui-social.html item=page %}
                                    </div>
                                </div>

                                <p class="nodesktop"><br></p>

                                <img src="{{ site.baseurl }}/{{ page.image }}" alt="" class="fullwidth picture hidden-sm hidden-md hidden-lg" />
                                <div id="entry" class="text">
                                    {{ content }}
                                </div>
                                <div class="fingerprint">
                                    <hr class="sm" />
                                    {{ page.fingerprint }}
                                </div>

                                <div class="contact nodesktop">
                                    <div class="social">
                                        <a class="mailto rounded" href="mailto:{{page.contact}}"><em class="fa fa-envelope"></em></a>
                                        {% include ui-social.html item=page %}
                                        <br><br>
                                        <a class="mailto rounded back " href="/team/"><em class="fa fa-chevron-left c_333"></em></a>
                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>
                    <div class="sidecol col-lg-10 col-md-10 col-sm-10 nomobile">
                        <img src="{{ site.baseurl }}/{{ page.image }}" alt="" class="fullwidth picture" />

                    </div>

                </div>
            </div>
            {% include nav-footer.html %}
        </div>
    </div>
    {% include footer.html %}

  </body>

</html>
