---
layout: research
---
<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

    {% include header.html %}

    {% assign blog_cnt = 0 %}
    {% assign blog_link = "" %}

    {% for post in site.categories['research'] %}
    {% if page.language == post.language %}
    {% if post.visible == true %}
    {% if post.categories contains 'blog' %}
    {% assign blog_cnt = blog_cnt | plus:1 %}
    {% if blog_cnt == 1 %}
    {% assign blog_link = post.permalink %}
    {% endif %}

    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}



    <div id="middle" class="middle">
        <div id="main" class="research research_page sidebar-right">



            <div id="subheader" class="banner particles"><div id="subheader-particles"></div>
                <div class="container">

                    <div class="title_block">
                        <h1 class=" uppercase clear "><span class="c_f00">IOHK | </span> <span class="title">{{ page.title }}</span></h1>
                    </div>





                </div>
            </div>

            <div class=" fader">
                <div class="subnavbar">
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-24">
                                <div class="wrap">

                                    <ul id="nav-tabs" class="uppercase research-nav nav-tabs nav navbar-nav ">
                                        <li class="about active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">{{ site.data.i18n[page.language].about }}</a></li>
                                        <li class="researchers"><a href="#researchers" aria-controls="researchers" role="tab" data-toggle="tab">{{ site.data.i18n[page.language].researchers }}</a></li>
                                        <li class="library"><a class="ajaxhref" href="{{ site.baseurl }}/research/library/">{{ site.data.i18n[page.language].library }}</a></li>
                                        <li class="papers"><a class="ajaxhref" href="{{ site.baseurl }}/research/papers/">IOHK papers</a></li>
                                        <li class="blog"><a class="ajaxhref" href="{{blog_link}}">{{ site.data.i18n[page.language].blog }}</a></li>
                                        <li class="contact"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">{{ site.data.i18n[page.language].contact }}</a></li>
                                    </ul>
                                    <div class="clear"></div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="subheader-shade"></div>


                <div class="container">
                    <div class="row">



                        <div class="maincol col-lg-18 col-md-18 col-sm-18">


                            <div class="post">
                                <div class="tab-content clear">
                                    <div role="tabpanel" class="tab-pane active" id="about">
                                        <div class="entry">
                                        {{ content }}
                                        </div>
                                    </div>


                                    <div role="tabpanel" class="tab-pane" id="researchers">

                                        <div class="row">

                                          {% assign sorted_pages = site.pages | sort:"order" %}


                                        {% assign member_cnt = 0 %}

                                        {% for researcher in sorted_pages %}
                                        {% if researcher.layout == 'member' %}
                                        {% if researcher.categories contains 'research' %}

                                        {% assign member_cnt = member_cnt | plus:1 %}

                                            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 inline-block griditem">
                                                {% include ui-member.html item=researcher.contact %}
                                            </div>

                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}

                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="contact">
                                        {% include form-research-contact.html %}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 rightcol">




                            <div class="widget stats">
                                <hr class="nodesktop" />
                                <p class="nav-tabs">
                                    <a href="#researchers" aria-controls="team" role="tab" data-toggle="tab" class="block"><span class="val">{{member_cnt}}</span> <span class="member_count">{{ site.data.i18n[page.language].researchers }}</span> <em class="fa fa-user pull-right"></em></a>
                                </p>

                                <p><a href="{{blog_link}}" class="block ajaxhref"><span class="val">{{blog_cnt}}</span> <span class="">{{ site.data.i18n[page.language].articles }}</span> <em class="fa fa-file-text pull-right"></em></a></p>

                                <hr />

                            </div>


                            {% include ui-networks.html %}

                            <br>
                        </div>
                    </div>
                </div>
            </div>
            {% include nav-footer.html %}
        </div>
    </div>
    {% include footer.html %}


  </body>

</html>
