---
layout: page-research-papers
---

{% if page.type != 'paper' %}

{% assign blog_cnt = 0 %}
{% assign blog_permalink = '' %}

{% for paper in site.pages %}
{% if paper.layout == 'page-research-papers' %}
{% if paper.type == 'paper' %}

{% assign blog_cnt = blog_cnt | plus:1 %}
{% if blog_cnt == 1 %}
{% assign blog_permalink = paper.permalink %}
{% endif %}

{% endif %}
{% endif %}
{% endfor %}

{% endif %}



    {% assign blog_cnt = 0 %}
    {% assign blog_link = "" %}

    {% for post in site.categories['research'] %}
    {% if page.language == post.language %}
    {% if post.visible == true %}
    {% if post.categories contains 'blog' %}
    {% assign blog_cnt = blog_cnt | plus:1 %}
    {% if blog_cnt == 1 %}
    {% assign blog_link = post.permalink %}
    {% endif %}

    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}





<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

    {% include header.html %}

    <div id="middle" class="middle">
        <div id="main" class="library_page papers_page">


            <div id="subheader" class="banner particles"><div id="subheader-particles"></div>
                <div class="container">

                    <div class="title_block">
                        <h1 class=" uppercase clear"><span class="c_f00">IOHK | </span> <span class="title">Papers</span></h1>




                    </div>


                </div>
            </div>





            <div class="subnavbar">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-24">
                            <div class="wrap">

                                <ul class="uppercase research-nav nav-tabs nav navbar-nav ">
                                    <li class="about"><a class="ajaxhref" href="{{ site.baseurl }}/research/">{{ site.data.i18n[page.language].about }}</a></li>
                                    <li class="researchers"><a class="ajaxhref" href="{{ site.baseurl }}/research/#researchers">{{ site.data.i18n[page.language].researchers }}</a></li>
                                    <li class="library"><a class="ajaxhref" href="{{ site.baseurl }}/research/library/">{{ site.data.i18n[page.language].library }}</a></li>
                                    <li class="iohkpapers active"><a class="ajaxhref" href="{{ site.baseurl }}/research/papers/">IOHK papers</a></li>
                                    <li class="blog"><a class="ajaxhref" href="{{blog_link}}">{{ site.data.i18n[page.language].blog }}</a></li>
                                    <li class="contact"><a class="ajaxhref" href="{{ site.baseurl }}/research/#contact">{{ site.data.i18n[page.language].contact }}</a></li>
                                </ul>
                                <div class="clear"></div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>




          <div id="library" class="Papers">
            <div class="subheader-shade"></div>
              <div id="papers-row" class="papers-row"></div>





                <div class="container">
                    <div class="fader">
                        <div class="topcol">
                            <div class="entry">




                                                      <div id="papers_tags" class="tags text-center none">

                                                          <div class="wrap">
                                                            <a class="btn btn-default color-proof-of-stake" href="#tag-proof-of-stake"><em class="fa fa-tag"></em> Proof-of-stake</a>
                                                            <a class="btn btn-default color-bitcoin" href="#tag-ethereum-classic"><em class="fa fa-tag"></em> Ethereum Classic</a>
                                                            <a class="btn btn-default color-smartcontract" href="#tag-smartcontract"><em class="fa fa-tag"></em> Smartcontract</a>
                                                              <a class="btn btn-default color-crypto" href="#tag-crypto"><em class="fa fa-tag"></em> Crypto</a>
                                                              <a class="btn btn-default color-cryptocurrency" href="#tag-cryptocurrency"><em class="fa fa-tag"></em> Cryptocurrency</a>
                                                              <a class="btn btn-default color-distributed" href="#tag-distributed"><em class="fa fa-tag"></em> Distributed</a>
                                                              <a class="btn btn-default color-hash" href="#tag-hash"><em class="fa fa-tag"></em> Hash</a>

                                                          </div>
                                                      </div>



                                <div class="shelves">
                                    <div id="zotero_load_details" class="zotero_details"></div>


                                    <div id="zotero_load" class="ready icons-s"></div>
                                    <div id="zotero_load_preview" class="zotero_details nodesktop"></div>

                                    <div id="zotero_loading" class="clear">
                                        <div class="text-center" style="padding:50px 0">
                                            <svg width="120px" height="120px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring-alt">
                                                <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                                                <circle cx="50" cy="50" r="40" stroke="#222222" fill="none" stroke-width="10" stroke-linecap="round"></circle>
                                                <circle cx="50" cy="50" r="40" stroke="#ff0000" fill="none" stroke-width="6" stroke-linecap="round">
                                                    <animate attributeName="stroke-dashoffset" dur="2s" repeatCount="indefinite" from="0" to="502"></animate>
                                                    <animate attributeName="stroke-dasharray" dur="2s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate>
                                                </circle>
                                            </svg>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!--/library-->

                        </div>
                    </div>
                </div>
            </div>




            {% include nav-footer.html %}
        </div>
    </div>

    {% include footer.html %}

  </body>

</html>
