---
layout: page-press
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="middle" class="middle">
        <div id="main" class="page-press">


            <div id="subheader" class="banner particles"><div id="subheader-particles"></div>
                <div class="container">
                                {% include nav-sub.html %}

                    <div class="title_block">
                        <h1 class=" uppercase clear"><span class="c_f00">IOHK | </span> <span class="title">{{ page.title }}</span></h1>
                    </div>

                </div>
            </div>

            <div class="subheader-grad"></div>

            <div class="subheader-shade"></div>



            <div class="container">

              <div class="row fader">

                  <div class="maincol col-lg-18 col-md-17 col-sm-24">

                      <div class="row">


                          {% assign press_post_cnt = 0 %}

                          {% for press in site.posts %}
                          {% if press.visible %}
                          {% if press.layout == 'page-press' %}

                          {% assign press_post_cnt = press_post_cnt | plus:1 %}

                          <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="post">
                              <div class="img">
                                <img src="{{press.thumbnail}}" width="60" alt="" />
                                <div class="meta publisher">{{press.publisher}}</div>
                                <div class="meta date">{{ press.date | date: '%B %d, %Y' }}</div>
                              </div>
                              <div class="title">
                                {% if press.pdf %}<a href="{{press.pdf}}" target="_blank" class="pull-right"><img src="/images/pdf.png" width="48" height="48" alt="PDF"></a>{% endif %}
                                <h2>
                                  {% if press.redirect %}<a href="{{press.redirect}}" target="_blank">{% endif %}
                                    {{press.title}}
                                  {% if press.redirect %}</a>{% endif %}
                                </h2>
                                {% if press.author %}<div class="meta bottom"><span class="author">{{press.author}}</span></div>{% endif %}
                                {% if press.screeshot %}<a href="{{press.screeshot}}" class="modal-image">Preview <em class="fa fa-paperclip"></em></a>{% endif %}
                              </div>
                            </div>
                          </div>

                          {% endif %}
                          {% endif %}
                          {% endfor %}


                      </div>

                  </div>


                  <div class="col-lg-6 col-md-7 col-sm-24 rightcol">


                            {% if page.twitteruser %}
                            <div class="widget twitter_fetcher">
                              <h6 class="uppercase electrolize">Tweets from <a href="https://twitter.com/{{page.twitteruser}}" target="_blank">@{{page.twitteruser}} <em class="fa fa-twitter pull-right"></em></a> </h6>
                              <div id="twitter_fetcher" class="fetch" username="{{page.twitteruser}}" count="3"></div>
                            </div>
                            {% endif %}

                            <div class="widget">
                              <h6 class="uppercase electrolize">IOHK Media Kit</h6>
                              <a href="/docs/iohk-logo.zip" target="_blank"><img src="//webdev.iohk.io/images/iohk-logo.png" width="178" height="41" alt=""></a>
                            </div>


                  </div>


              </div>

            </div>

                        {% include nav-footer.html %}

        </div>
    </div>

    {% include footer.html %}




  </body>

</html>
