---
layout: page-projects
---
<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

    {% include header.html %}

    {% if page.language != 'en' %}
        <script>location.href='/projects/';</script>
    {% endif %}

    <div id="middle" class="middle">
        <div id="main">
            <div class="container">

                    <div id="io_loader">
                        <div id="io_load">
                            <div class="row fader projects_page">
                                {% include nav-sub.html %}
                                <div class="col-lg-8 col-md-8 col-sm-10 sidecol uppercase">

                                    <br>

                                </div>
                                <div class="maincol col-lg-16 col-md-16 col-sm-14">


                                    <div class="jobpost">
                                        <div class="entry">
                                            <div class="text">

                                               {{content}}


                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>

    {% include footer.html %}

  </body>

</html>
