---
layout: page-research-library
---
<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

    {% include header.html %}



    {% assign blog_cnt = 0 %}
    {% assign blog_link = "" %}

    {% for post in site.categories['research'] %}
    {% if page.language == post.language %}
    {% if post.visible == true %}
    {% if post.categories contains 'blog' %}
    {% assign blog_cnt = blog_cnt | plus:1 %}
    {% if blog_cnt == 1 %}
    {% assign blog_link = post.permalink %}
    {% endif %}

    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}




    {% assign library_cnt = 0 %}

    {% for post in site.categories['library'] %}
    {% if page.language == post.language %}
    {% if post.visible == true %}
    {% assign library_cnt = library_cnt | plus:1 %}
    {% endif %}
    {% endif %}
    {% endfor %}




    {% assign researchers = 0 %}
    {% for researcher in site.categories['research'] %}
    {% if researcher.language == page.language %}
    {% if researcher.layout == 'member' %}
    {% assign researchers = researchers | plus:1 %}
    {% endif %}
    {% endif %}
    {% endfor %}

    <div id="middle" class="middle">
        <div id="main" class="library_page">


            <div id="subheader" class="banner particles minititle text-center"><div id="subheader-particles"></div>
                <div class="container">

                    <div class="title_block">
                        <h1 class=" uppercase clear"><span class="c_f00">IOHK | </span> <span class="title"><span class="extra">Research</span> Library</span></h1>



                        <div id="library_tags" class="tags text-center">
                            <a href="javascript:io_class_toggle('#library_tags','opened')" class="shower"><em class="fa fa-caret-right"></em> Show tags</a>
                            <a href="javascript:io_class_toggle('#library_tags','opened')" class="hider"><em class="fa fa-caret-down"></em> Hide tags</a>

                            <div class="wrap">
                                <a class="btn btn-default color-all" href="#tag-all"><em class="fa fa-asterisk"></em> All</a>
                                <a class="btn btn-default color-anonymity" href="#tag-anonymity"><em class="fa fa-tag"></em> Anonymity</a>
                                <a class="btn btn-default color-attack" href="#tag-attack"><em class="fa fa-tag"></em> Attack</a>
                                <a class="btn btn-default color-bft" href="#tag-bft"><em class="fa fa-tag"></em> BFT</a>
                                <a class="btn btn-default color-bitcoin" href="#tag-bitcoin"><em class="fa fa-tag"></em> Bitcoin</a>
                                <a class="btn btn-default color-blockchain" href="#tag-blockchain"><em class="fa fa-tag"></em> Blockchain</a>
                                <a class="btn btn-default color-commitment" href="#tag-commitment"><em class="fa fa-tag"></em> Commitment</a>
                                <a class="btn btn-default color-consensus" href="#tag-consensus"><em class="fa fa-tag"></em> Consensus</a>
                                <a class="btn btn-default color-crypto" href="#tag-crypto"><em class="fa fa-tag"></em> Crypto</a>
                                <a class="btn btn-default color-cryptocurrency" href="#tag-cryptocurrency"><em class="fa fa-tag"></em> Cryptocurrency</a>
                                <a class="btn btn-default color-distributed" href="#tag-distributed"><em class="fa fa-tag"></em> Distributed</a>
                                <a class="btn btn-default color-elliptic-curve" href="#tag-elliptic-curve"><em class="fa fa-tag"></em> Elliptic-curve</a>
                                <a class="btn btn-default color-hash" href="#tag-hash"><em class="fa fa-tag"></em> Hash</a>
                                <a class="btn btn-default color-implementation" href="#tag-implementation"><em class="fa fa-tag"></em> Implementation</a>
                                <a class="btn btn-default color-micropayment" href="#tag-micropayment"><em class="fa fa-tag"></em> Micropayment</a>
                                <a class="btn btn-default color-mpc" href="#tag-mpc"><em class="fa fa-tag"></em> MPC</a>
                                <a class="btn btn-default color-privacy" href="#tag-privacy"><em class="fa fa-tag"></em> Privacy</a>
                                <a class="btn btn-default color-proof-of-stake" href="#tag-proof-of-stake"><em class="fa fa-tag"></em> Proof-of-stake</a>
                                <a class="btn btn-default color-scalability" href="#tag-scalability"><em class="fa fa-tag"></em> Scalability</a>
                                <a class="btn btn-default color-security-proofs" href="#tag-security-proofs"><em class="fa fa-tag"></em> Security proofs</a>
                                <a class="btn btn-default color-signatures" href="#tag-signatures"><em class="fa fa-tag"></em> Signatures</a>
                                <a class="btn btn-default color-smartcontract" href="#tag-smartcontract"><em class="fa fa-tag"></em> Smartcontract</a>
                                <a class="btn btn-default color-survey" href="#tag-survey"><em class="fa fa-tag"></em> Survey</a>
                                <a class="btn btn-default color-tutorial" href="#tag-tutorial"><em class="fa fa-tag"></em> Tutorial</a>
                                <a class="btn btn-default color-zero-knowledge" href="#tag-zero-knowledge"><em class="fa fa-tag"></em> Zero knowledge</a>

                            </div>
                        </div>


                    </div>
                </div>
            </div>





            <div class="subnavbar">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-24 ">
                            <div class="wrap">

                                <ul class="uppercase research-nav nav-tabs nav navbar-nav ">
                                    <li class="about"><a href="{{ site.baseurl }}/research/">{{ site.data.i18n[page.language].about }}</a></li>
                                    <li class="researchers"><a href="{{ site.baseurl }}/research/#researchers">{{ site.data.i18n[page.language].researchers }}</a></li>
                                    <li class="library active"><a class="ajaxhref" href="{{ site.baseurl }}/research/library/">{{ site.data.i18n[page.language].library }}</a></li>
                                    <li class="papers"><a class="ajaxhref" href="{{ site.baseurl }}/research/papers/">IOHK papers</a></li>
                                    <li class="blog"><a class="ajaxhref" href="{{blog_link}}">{{ site.data.i18n[page.language].blog }}</a></li>
                                    <li class="contact"><a href="{{ site.baseurl }}/research/#contact">{{ site.data.i18n[page.language].contact }}</a></li>
                                </ul>
                                <div class="clear"></div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <nav class="library navbar navbar-default navbar-inverse ">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_library" aria-expanded="false">
                    <span class="sr-only">Toggle library navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar_library">
                  <ul class="nav navbar-nav uppercase">
                    <li class="active papers-button"><a class="ajaxhref" href="{{ site.baseurl }}/research/papers/"><span>IOHK papers</span></a></li>
                  </ul>


                  <div class="navbar-left navbar-form ">
                    <form action="javascript:io_zotero_search_action()" method="post" class="library-search">
                        <div class="input-group fullwidth">
                              <div class="library_autocomplete"></div>
                              <input id="library-search" type="text" class="form-control " aria-label="Library search" onfocus="io_zotero_search('.library_autocomplete',false)" placeholder="{{ site.data.i18n[page.language].type_to_search }}" />
                              <div class="input-group-btn">
                                <button id="library-search-button" type="button" class="btn btn-default"><span class="fa fa-search"></span></button>
                              </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </form><!-- /lib_search -->
                  </div>
                  <ul id="io-lib-tools" class="nav navbar-nav navbar-right uppercase"></ul>

                  <!--<ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </li>
                  </ul>-->

                </div><!-- /.navbar-collapse -->
              </div><!-- /.container -->
            </nav>



            <div class="subheader-shade"></div>

            <div class="container">
                <div class="fader">
                    <div class="topcol">
                        <div class="entry">

                            <div id="library" class="Library">

                                <div class="shelves">
                                    <div id="zotero_load_details" class="zotero_details"></div>


                                    <div id="zotero_load" class="ready icons-s"></div>
                                    <div id="zotero_load_preview" class="zotero_details nodesktop"></div>

                                    <div id="zotero_loading" class="clear">
                                        <div class="text-center" style="padding:50px 0">
                                            <svg width="120px" height="120px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring-alt">
                                                <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
                                                <circle cx="50" cy="50" r="40" stroke="#222222" fill="none" stroke-width="10" stroke-linecap="round"></circle>
                                                <circle cx="50" cy="50" r="40" stroke="#ff0000" fill="none" stroke-width="6" stroke-linecap="round">
                                                    <animate attributeName="stroke-dashoffset" dur="2s" repeatCount="indefinite" from="0" to="502"></animate>
                                                    <animate attributeName="stroke-dasharray" dur="2s" repeatCount="indefinite" values="150.6 100.4;1 250;150.6 100.4"></animate>
                                                </circle>
                                            </svg>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!--/library-->


                        </div>
                    </div>
                </div>
            </div>


            {% include nav-footer.html %}
        </div>
    </div>





    <div class="modal fade noprint" id="submit_paper" tabindex="-1" role="dialog" aria-labelledby="Submit paper">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center" role="document">
                <div class="modal-content">
                    <form class="form_project" action="https://docs.google.com/a/iohk.io/forms/d/1X-uMWHLRlFeauneRRWVTh9KWg1MufqCQcfikQJ-thaw/formResponse?embedded=true" method="POST" id="ss-submit-paper-form"  target="submit-paper_iframe" onsubmit="form_submit=true;">

                        <iframe name="submit-paper_iframe" id="submit-paper_iframe" style="display:none;" onload="if(form_submit) {window.location='{{ '/thank-you/' | prepend: site.baseurl }}{% if page.language != 'en' %}{{ page.language }}/{% endif %}';}"></iframe>

                        <input type="hidden" name="draftResponse" value="[,,&quot;-1101802725391261098&quot;]">
                        <input type="hidden" name="pageHistory" value="0">
                        <input type="hidden" name="fvv" value="0">
                        <input type="hidden" name="fbzx" value="-1101802725391261098">


                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="">{{ site.data.i18n[page.language].submit_paper }}</h4>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="io_lib_submit-title">{{ site.data.i18n[page.language].document_title }}</label>
                                <input type="text" name="entry.2060328371" class="form-control" id="io_lib_submit-title" placeholder="{{ site.data.i18n[page.language].document_title }}">
                            </div>

                            <div class="form-group">
                                <label for="io_lib_submit-description">{{ site.data.i18n[page.language].description }}</label>
                                <textarea name="entry.461665999" class="form-control" id="io_lib_submit-description" placeholder="{{ site.data.i18n[page.language].description }}"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="io_lib_submit-title">{{ site.data.i18n[page.language].tags }}</label>
                                <input type="text" name="entry.1838650375" class="form-control" id="io_lib_submit-title" placeholder="{{ site.data.i18n[page.language].tags }}">
                            </div>

                            <div class="form-group">
                                <label for="io_lib_submit-title">{{ site.data.i18n[page.language].URL }}</label>
                                <input type="text" name="entry.1847584835" class="form-control" id="io_lib_submit-title" placeholder="{{ site.data.i18n[page.language].URL }}">
                            </div>

                            <div class="form-group">
                                <label for="io_lib_submit-title">{{ site.data.i18n[page.language].full_name }}</label>
                                <input type="text" name="entry.1155327763" class="form-control" id="io_lib_submit-title" placeholder="{{ site.data.i18n[page.language].full_name }}">
                            </div>

                            <div class="form-group">
                                <label for="io_lib_submit-description">{{ site.data.i18n[page.language].your_email }}</label>
                                <input type="text" name="entry.1804371133" class="form-control" id="io_lib_submit-description" placeholder="{{ site.data.i18n[page.language].your_email }}">
                            </div>


                            <!--
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked="checked" /> I agree with terms &amp; conditions
                                </label>
                            </div>
                            -->


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ site.data.i18n[page.language].cancel }}</button>
                            <button type="submit" class="btn btn-primary">{{ site.data.i18n[page.language].submit }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    {% include footer.html %}

  </body>

</html>
