---
layout: page-msa
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="middle" class="middle">
        <div id="main" class="msa">


            <div id="subheader" class="banner particles"><div id="subheader-particles"></div>
                <div class="container">
                                {% include nav-sub.html %}

                    <div class="title_block">

                        <h1 class=" uppercase clear"><span class="c_f00">IOHK | </span> <span class="title">MSA</span></h1>


                    </div>

                </div>
            </div>

            <div class="subheader-grad"></div>

            <div class="container text-center">


              <h2>Master Services Agreement</h2>


               <h3>カスタマー・マスター・サービス契約(仮訳)</h3>

              <div class="row">


                  <div class="col-lg-10 col-lg-offset-7 col-md-12 col-md-offset-6 col-sm-14 col-sm-offset-5">



                    <div class="docs">
                        <a href="/docs/msa/MSA-MasterServicesAgreement-EN.pdf" target="_blank"><img src="/images/icon-script.png" alt="" width="130" height="130" />
                          <b class="electrolize">English</b>
                        </a>

                    <span class="c_f00">|</span>

                        <a href="/docs/msa/MSA-MasterServicesAgreement-JP.pdf" target="_blank"><img src="/images/icon-script.png" alt="" width="130" height="130" />
                          <b>日本語</b>
                        </a>

                    </div>










                  </div>

                </div>


              </div>

            {% include nav-footer.html %}

        </div>
    </div>

    {% include footer.html %}




  </body>

</html>
