---
layout: page-home
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body >

    {% include header.html %}

    <div id="middle" class="middle">
      <div id="main" class="container-fluid">


        <div class="intro box bigger">
          <div class="fader">


            <div id="entry" class="">

              <h1><span class="title"><span class="cascading">Cascading</span> <br class="nolandscape" />Disruption</span> <!--a href="javascript:;" id="io_intro_ignit" class="tit rounded off nomobile"><em class="fa fa-play"></em></a--></h1>
              <hr class="nodesktop" />
              <div class="desc none">Experimentation is <br class="nolandscape" />the mother of creation</div>
              <p class="nomobile"><br></p>
              <p><br class="nodesktop nolandscape" />
                <a href="javascript:;" id="io_intro_start-0" class="btn btn-default">Distributed systems &nbsp;<em class="fa fa-play"></em></a> &nbsp;<br class="nodesktop nolandscape" />
                <a href="javascript:;" id="io_intro_start-1" class="btn btn-default">Complexity is beautiful &nbsp;<em class="fa fa-play"></em></a>
              </p>
              <br>

              <p id="io_intro_hint_but" class="nodesktop"><span class="glower"></span></p>
              <p id="io_intro_hint" class="nodesktop">This page is interactive</p>
              <p class="cc">CC <a href="https://github.com/haxiomic" target="_blank">@haxiomic</a></p>

            </div>




            <div id="io_intro" class="ready waiting">

            </div>

            <style>



            </style>



          </div>
        </div>


      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
