---
layout: research-blog
---

<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

    {% include header.html %}

    <div id="middle" class="middle">
        <div id="main" class=" research_page blog_single blog sidebar-right">


            <div id="subheader" class="banner particles minititle"><div id="subheader-particles"></div>
                <div class="container">

                    <div class="title_block">
                        <div class="h1 uppercase clear"><span class="c_f00">IOHK | </span> Research <span class="extra">Blog</span></div>

                        <!--h1 class="marginb0">{{ page.title }}</h1-->

                    </div>


                </div>
            </div>

            <div class=" fader">
                <div class="subnavbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-24">

                                <ul class="uppercase project-nav nav-tabs nav navbar-nav">
                                    <li class="about"><a href="{{ site.baseurl }}/research/">{{ site.data.i18n[page.language].about }}</a></li>
                                    <li class="researchers"><a href="{{ site.baseurl }}/research/#researchers">{{ site.data.i18n[page.language].researchers }}</a></li>
                                    <li class="library"><a class="ajaxhref" href="{{ site.baseurl }}/research/library/">{{ site.data.i18n[page.language].library }}</a></li>
                                    <li class="papers"><a class="ajaxhref" href="{{ site.baseurl }}/research/papers/">IOHK papers</a></li>
                                    <li class="blog active"><a href="{{ site.baseurl }}/research/blog/">{{ site.data.i18n[page.language].blog }}</a></li>
                                    <li class="contact"><a href="{{ site.baseurl }}/research/#contact">{{ site.data.i18n[page.language].contact }}</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="subheader-shade">

                </div>


                <div class="container">
                    <div class="row">



                        <div class="maincol col-lg-18 col-md-18 col-sm-18">
                            <div class="post">
                                    <h1 class="margin0 roboto"><a class="" href="{{ site.baseurl }}{{ post.permalink }}"><span class="title">{{ page.title }}</span></a></h1>
                                    <div class="meta">
                                        <div class="date inline-block"><span class=""><em class="fa fa-clock-o"></em> {{ page.date | date: '%B %d, %Y' }}</span></div> &nbsp;&nbsp;
                                        {% if page.author %}<div class="author inline-block">

                                            {% for post in site.pages %}
                                            {% if post.layout == 'member' %}
                                            {% if post.contact == page.author %}
                                            <em class="fa fa-user c_f00"></em>  <a href="{{ site.baseurl }}{{ post.permalink }}">{{ post.title }}</a>
                                            {% endif %}
                                            {% endif %}
                                            {% endfor %}

                                        </div> &nbsp;&nbsp; {% endif %}
                                        {% if page.readtime %}<div class="readtime inline-block"><em class="fa fa-bookmark"></em> {{ page.readtime }} read</div>{% endif %}
                                    </div>
                                    <div class="clear small"><br></div>
                                    <div class="blog entry" title="{{ page.title }}" data-id="{{page.id}}" data-type="blog-post" data-slug="{{page.slug}}">
                                        {{ content }}
                                    </div>
                                    <div id="io_comment_area" class="io_comment_area opened">
                                        <a href="javascript:io_class_toggle('#io_comment_area','opened')" class="comment_opener"><em class="fa fa-bookmark"></em></a>
                                        <div id="disqus_thread"></div>
                                    </div>

                                </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 rightcol post-side">
                            <div class="wrap">

                              {% include ui-member.html item=page.author side=true %}


                                <hr />

                                {% include nav-blog.html item=page %}
                                <br />

                                <div class="sharing">{% include ui-share.html item=page %}</div>

                                <hr />
                                {% include ui-networks.html %}

                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include nav-footer.html %}
        </div>
    </div>
    {% include footer.html %}



  </body>

</html>
